<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--mysql-->
  <!--<Dbconnectstring>Server=127.0.0.1;Database=siteasy;Uid=root;Pwd=7788521;</Dbconnectstring>
  <Tableprefix>sta_</Tableprefix>
  <Sitepath></Sitepath>
  <Adminpath>/admin</Adminpath>
  <Dbtype>MySql</Dbtype>
  <Founderuid>1</Founderuid>-->

  <!--sql 2005-->
  <Dbconnectstring>Data Source=.;User ID=sa;Password=123456;Initial Catalog=stacms;Pooling=true</Dbconnectstring>
  <Tableprefix>sta_</Tableprefix>
  <Sitepath></Sitepath>
  <Adminpath>/admin</Adminpath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>1</Founderuid>

  <!--sql 2008-->
  <!--<Dbconnectstring>Data Source=.\LEON;User ID=sa;Password=123456;Initial Catalog=test_sta;Pooling=true</Dbconnectstring>
  <Tableprefix>sta_</Tableprefix>
  <Sitepath></Sitepath>
  <Adminpath>/admin</Adminpath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>1</Founderuid>-->
</BaseConfigInfo>