<?xml version="1.0" encoding="utf-8"?>
<data maxid="123" description="如需直接修改,修改前请备份此文件，以免发生不必要的错误">
	<top id="1" name="内容管理" url="global/global_contentlist.aspx?type=1"/>
	<top id="2" name="用户管理" url="global/global_userlist.aspx"/>
	<top id="3" name="站点设置" url="global/global_siteinfo.aspx"/>
	<top id="4" name="系统扩展" url="global/global_adlist.aspx"/>
	<top id="5" name="系统工具" url="global/global_emailsend.aspx"/>

	<menu topid="1" id="6" parent="0" name="信息管理" icon="content.gif" url="" target="main"/>
	<menu topid="1" id="104" parent="6" name="所有文档列表" icon="page_stack.png" url="global/global_contentlist.aspx" target="main"/>
	<menu topid="1" id="105" parent="6" name="待审核文档" icon="verify.png" url="global/global_contentverify.aspx" target="main"/>
	<menu topid="1" id="41" parent="6" name="内容快速添加" icon="add.gif" url="" target="main"/>
	<menu topid="1" id="43" parent="41" name="普通内容" icon="" url="global/global_contentadd.aspx?type=1" target="main"/>
  <menu topid="1" id="45" parent="41" name="图片集" icon="" url="global/global_photoadd.aspx?type=2" target="main"/>
	<menu topid="1" id="44" parent="41" name="软件" icon="" url="global/global_softadd.aspx?type=3" target="main"/>
	<menu topid="1" id="46" parent="41" name="专题" icon="" url="global/global_specialadd.aspx?type=0" target="main"/>

	<menu topid="1" id="110" parent="6" name="内容管理" icon="archive.gif" url="" target="main"/>
	<menu topid="1" id="40" parent="110" name="普通内容" icon="" url="global/global_contentlist.aspx?type=1" target="main"/>
  <menu topid="1" id="9" parent="110" name="图片集" icon="photo.png" url="global/global_photolist.aspx?type=2" target="main"/>
	<menu topid="1" id="8" parent="110" name="软件" icon="soft.png" url="global/global_softlist.aspx?type=3" target="main"/>
	<menu topid="1" id="10" parent="110" name="专题" icon="topic.gif" url="global/global_speciallist.aspx" target="main"/>
	<menu topid="1" parent="110" name="$模型列表"/>

	<menu topid="1" id="50" parent="6" name="频道管理" icon="buildings.png" url="" target="main"/>
	<menu topid="1" id="48" parent="50" name="频道列表" icon="" url="global/global_channelist.aspx" target="main"/>
	<menu topid="1" id="49" parent="50" name="频道添加" icon="" url="global/global_channeladd.aspx" target="main"/>
  <menu topid="1" id="106" parent="50" name="频道批量添加" icon="" url="global/global_channelbatchadd.aspx" target="main"/>

  <menu topid="1" id="107" parent="6" name="组管理" icon="gather.gif" url="" target="main"/>
  <menu topid="1" id="108" parent="107" name="内容组" icon="" url="global/global_congroups.aspx" target="main"/>
  <menu topid="1" id="109" parent="107" name="频道组" icon="" url="global/global_congroupchannels.aspx" target="main"/>
   
	<menu topid="1" id="16" parent="6" name="频道模型" icon="page_stack.png" url="" target="main"/>
	<menu topid="1" id="17" parent="16" name="内容模型管理" icon="cmodel.gif" url="global/global_contypes.aspx" target="main"/>
	<menu topid="1" id="18" parent="16" name="单页模型管理" icon="page.png" url="global/global_pagelist.aspx" target="main"/>
	<menu topid="1" id="19" parent="16" name="联动字段管理" icon="input.gif" url="" target="main"/>
	<menu topid="1" id="20" parent="16" name="自定义表单" icon="form.gif" url="" target="main"/>

	<menu topid="1" id="27" parent="6" name="内容维护" icon="page_world.png" url="" target="main"/>
	<menu topid="1" id="25" parent="27" name="内容标签" icon="tags.gif" url="global/global_tags.aspx" target="main"/>
	<!--<menu topid="1" id="28" parent="27" name="批量转移" icon="page_get.png" url="" target="main"/>-->
	<!--<menu topid="1" id="29" parent="27" name="搜索关键字维护" icon="sport_raquet.png" url="" target="main"/>-->
	<menu topid="1" id="30" parent="27" name="重复文档检查" icon="" url="global/global_repeatconcheck.aspx" target="main"/>
	<menu topid="1" id="31" parent="27" name="表字段批量替换" icon="shading.png" url="global/global_dbfieldreplace.aspx" target="main"/>

	<menu topid="1" id="47" parent="6" name="我发布的内容" icon="" url="global/global_contentmine.aspx" target="main"/>
	<menu topid="1" id="11" parent="6" name="评论管理" icon="comment.png" url="" target="main"/>
	<menu topid="1" id="26" parent="6" name="内容回收站" icon="trash.gif" url="global/global_contentrecycle.aspx" target="main"/>

	<menu topid="1" id="32" parent="0" name="静态发布" icon="publish.gif" url="" target="main"/>
	<menu topid="1" id="33" parent="32" name="首页发布" icon="" url="global/global_createprogress.aspx?start=yes" target="main"/>
	<menu topid="1" id="34" parent="32" name="频道发布" icon="" url="global/global_createchannels.aspx" target="main"/>
	<menu topid="1" id="35" parent="32" name="文档发布" icon="" url="global/global_createcontents.aspx" target="main"/>
  <menu topid="1" id="120" parent="32" name="专题发布" icon="" url="global/global_createspecials.aspx" target="main"/>
  <menu topid="1" id="121" parent="32" name="单页发布" icon="" url="global/global_createpages.aspx" target="main"/>
  <menu topid="1" id="122" parent="32" name="一键发布" icon="" url="global/global_createprogress.aspx?type=onekey" target="main"/>

	<menu topid="1" id="21" parent="0" name="附件管理" icon="file.gif" url="" target="main"/>
	<menu topid="1" id="22" parent="21" name="批量上传" icon="" url="global/global_attachmentuploadpre.aspx" target="main"/>
	<menu topid="1" id="23" parent="21" name="附件管理" icon="" url="global/global_attachments.aspx" target="main"/>
	<menu topid="1" id="24" parent="21" name="文件浏览器" icon="" url="global/global_filesexplore.aspx" target="main"/>

	<menu topid="1" id="37" parent="0" name="模板管理" icon="template.gif" url="" target="main"/>
	<menu topid="1" id="38" parent="37" name="模板管理" icon="" url="global/global_templatelist.aspx" target="main"/>
	<menu topid="1" id="39" parent="37" name="上传新模板" icon="" url="" target="main"/>

	<menu topid="3" id="51" parent="0" name="全局配置" icon="site.gif" url="" target="main"/>
	<menu topid="3" id="53" parent="51" name="站点信息" icon="" url="global/global_siteinfo.aspx" target="main"/>
	<menu topid="3" id="58" parent="51" name="基本设置" icon="" url="global/global_baseset.aspx" target="main"/>
	<menu topid="3" id="54" parent="51" name="注册与访问控制" icon="" url="global/global_adverts.aspx" target="main"/>
	<menu topid="3" id="55" parent="51" name="附件设置" icon="" url="global/global_attachmentset.aspx" target="main"/>
	<menu topid="3" id="56" parent="51" name="图片水印设置" icon="" url="global/global_waterset.aspx" target="main"/>
	<menu topid="3" id="57" parent="51" name="邮箱设置" icon="" url="global/global_emailset.aspx" target="main"/>
	<menu topid="3" id="59" parent="51" name="积分设置" icon="" url="" target="main"/>
	<menu topid="3" id="60" parent="51" name="用户权限" icon="" url="" target="main"/>
	<menu topid="3" id="61" parent="51" name="安全控制" icon="" url="" target="main"/>

	
	<menu topid="2" id="62" parent="0" name="用户管理" icon="user.gif" url="" target="main"/>
	<menu topid="2" id="63" parent="62" name="用户添加" icon="" url="global/global_useradd.aspx" target="main"/>
	<menu topid="2" id="64" parent="62" name="用户列表" icon="" url="global/global_userlist.aspx" target="main"/>
	<menu topid="2" id="65" parent="62" name="审核新用户" icon="" url="" target="main"/>
	<menu topid="2" id="66" parent="62" name="合并用户" icon="" url="" target="main"/>

	<menu topid="2" id="67" parent="0" name="用户组管理" icon="group.png" url="" target="main"/>
	<menu topid="2" id="111" parent="67" name="添加用户组" icon="" url="global/global_usergroupadd.aspx" target="main"/>
  <!--<menu topid="2" id="116" parent="67" name="添加系统组" icon="" url="global/global_sysgroupadd.aspx" target="main"/>-->
	<menu topid="2" id="113" parent="67" name="用户组管理" icon="" url="global/global_usergrouplist.aspx" target="main"/>
  <menu topid="2" id="114" parent="67" name="系统组管理" icon="" url="global/global_sysgrouplist.aspx" target="main"/>

	<menu topid="5" id="70" parent="0" name="实用工具" icon="function.gif" url="" target="main"/>
	<menu topid="5" id="73" parent="70" name="邮件群发" icon="email.gif" url="global/global_emailsend.aspx" target="main"/>
	<menu topid="5" id="74" parent="70" name="短消息群发" icon="" url="" target="main"/>
	<menu topid="5" id="75" parent="70" name="计划任务" icon="task.gif" url="" target="main"/>
	<!--<menu topid="5" id="71" parent="70" name="字符串加密" icon="advertisement.gif" url="" target="main"/>-->
  <menu topid="5" id="36" parent="70" name="Sitemap生成" icon="innerlink.gif" url="tools/sitemapmake.aspx" target="main"/>
  <menu topid="5" id="76" parent="70" name="JS在线压缩" icon="script.png" url="global/global_jsmin.aspx" target="main"/>
	<menu topid="5" id="76" parent="70" name="Html转JS代码" icon="html.gif" url="global/global_html2js.aspx" target="main"/>

	<!--<menu topid="5" id="84" parent="0" name="数据维护" icon="data.png" url="" target="main"/>
	<menu topid="5" id="72" parent="84" name="更新缓存" icon="shortcut.gif" url="global/global_resetcaches.aspx" target="main"/>
	<menu topid="5" id="86" parent="84" name="重建数据" icon="cache_resetall.gif" url="" target="main"/>-->
	
	<menu topid="5" id="79" parent="0" name="数据库管理" icon="database.png" url="" target="main"/>
	<menu topid="5" id="80" parent="79" name="运行SQL脚本" icon="" url="global/global_runsql.aspx" target="main"/>
  <menu topid="5" id="80" parent="79" name="数据表结构查看" icon="form.gif" url="global/global_dbtableview.aspx" target="main"/>
	<menu topid="5" id="81" parent="79" name="备份数据库" icon="backup.gif" url="global/global_databasebackup.aspx" target="main"/>
	<!--<menu topid="5" id="82" parent="79" name="恢复数据库" icon="buildings.png" url="" target="main"/>-->
	<menu topid="5" id="83" parent="79" name="收缩数据库" icon="machine.gif" url="global/global_databaseshrink.aspx" target="main"/>
	
	<menu topid="5" id="77" parent="0" name="运行日志" icon="log.gif" url="" target="main"/>
  <menu topid="5" id="117" parent="77" name="操作日志" icon="" url="global/global_adminoperatelogs.aspx" target="main"/>
  <menu topid="5" id="118" parent="77" name="任务日志" icon="" url="global/global_admintasklogs.aspx" target="main"/>
	<menu topid="5" id="78" parent="77" name="系统日志" icon="" url="global/global_adminlogs.aspx" target="main"/>

	<menu topid="4" id="92" parent="0" name="系统功能" icon="integration.gif" url="" target="main"/>
  <menu topid="4" id="94" parent="92" name="广告管理" icon="" url="" target="main"/>
  <menu topid="4" id="100" parent="94" name="广告添加" icon="" url="global/global_adadd.aspx" target="main"/>
  <menu topid="4" id="101" parent="94" name="广告管理" icon="" url="global/global_adlist.aspx" target="main"/>
  
	<menu topid="4" id="93" parent="92" name="链接管理" icon="" url="" target="main"/>
	<menu topid="4" id="97" parent="93" name="链接添加" icon="" url="global/global_flinkadd.aspx" target="main"/>
	<menu topid="4" id="98" parent="93" name="分类管理" icon="" url="global/global_flinkcls.aspx" target="main"/>
	<menu topid="4" id="99" parent="93" name="链接管理" icon="" url="global/global_flinks.aspx" target="main"/>
	
	<!--<menu topid="4" id="95" parent="92" name="公告管理" icon="" url="" target="main"/>
	<menu topid="4" id="102" parent="95" name="公告添加" icon="" url="" target="main"/>
	<menu topid="4" id="103" parent="95" name="公告管理" icon="" url="" target="main"/>-->
	
	<menu topid="4" id="96" parent="92" name="站点短信管理" icon="" url="" target="main"/>
	
	<menu topid="4" id="87" parent="0" name="扩展管理" icon="arrow_inout.png" url="" target="main"/>
	<menu topid="4" id="88" parent="87" name="所有扩展" icon="" url="" target="main"/>
	<menu topid="4" id="89" parent="87" name="上传扩展" icon="" url="" target="main"/>
	
	<menu topid="4" id="90" parent="0" name="数据管理" icon="data.png" url="" target="main"/>
	<menu topid="4" id="91" parent="90" name="留言本" icon="" url="" target="main"/>
	<menu topid="4" parent="90" name="$扩展数据管理"/>
</data>