<?xml version="1.0" encoding="utf-8"?>
<control>
  <base><![CDATA[
      <tr>
        <td class="itemtitle">~name~：</td>
        <td>
          <input name="~cusname~" null="~null~" type="text" value="~defval~" id="~cusname~" title="~tiptext~"class="txt" onfocus="this.className='txt_focus';" onblur="this.className='txt';"/>
        ~append~
        </td>
     </tr>
    ]]></base>
  <select>
    <![CDATA[
      <tr>
        <td class="itemtitle">~name~：</td>
        <td>
         ~control~
        </td>
     </tr>
    ]]>
  </select>
</control>