<?xml version="1.0" encoding="utf-8"?>
<data>
  <Systemstyle>blue</Systemstyle>
  <Managelistcount>20</Managelistcount>
  <Msgtip>1</Msgtip>
  <Overlay>0</Overlay>
  <Fastmenucount>15</Fastmenucount>
  <Popwinbgcolor>white</Popwinbgcolor>
  <fastmenu>
    <item name="执行SQL脚本" url="global/global_runsql.aspx" target="main" />
    <item name="错误日志" url="global/global_errorlogs.aspx" target="main" />
    <item name="站点信息" url="global/global_siteinfo.aspx" target="main" />
    <item name="基本设置" url="global/global_baseset.aspx" target="main" />
    <item name="首页发布" url="global/global_createprogress.aspx?start=yes" target="main" />
    <item name="语言翻译" url="global/global_translate.aspx" target="main" />
    <item name="操作日志" url="global/global_adminoperatelogs.aspx" target="main" />
    <item name="群发短消息" url="global/global_sendpmtogroup.aspx" target="main" />
  </fastmenu>
</data>