<?xml version="1.0" encoding="utf-8"?>
<data>
  <Systemstyle>grey</Systemstyle>
  <Managelistcount>20</Managelistcount>
  <Msgtip>1</Msgtip>
  <Overlay>0</Overlay>
  <Fastmenucount>15</Fastmenucount>
  <Popwinbgcolor>white</Popwinbgcolor>
  <fastmenu>
    <item name="错误日志" url="global/global_errorlogs.aspx" target="main" />
    <item name="频道管理" url="global/global_channelist.aspx" target="main" />
    <item name="附件管理" url="global/global_attachments.aspx" target="main" />
    <item name="大文件上传" url="global/global_attachmentbigfile.aspx" target="main" />
    <item name="全站一键发布" url="global/global_createprogress.aspx?type=onekey" target="main" />
  </fastmenu>
</data>