::selection {color: #cc3300;background-color: #cccccc;}
::-moz-selection {color: #cc3300;background-color: #cccccc;}

html,body,div,p,ul,ol,li,a:link,a:visited,a:hover,a:active,.conb-1 table,.conb-2 table,.conb-2 .bar.conb-2 table,.ztree,.ztree li a,.ztree li a.curSelectedNode{color:#73101e;}
#footer{color:#a5293a;}
table.list th{color:#9f162a;}
.dropbtn,.dropbtn_on{color:#f5e4f8}
/*controls*/
/*textbox button*/
input.txt,input.txt_focus,textarea.txt,textarea.txt_focus{color:#930519;}
button.ManagerButton,input.mbutton,button.ManagerButton[disabled=true]{color:#930519;}
/*help*/
.txthelp{}
/*pageinfo*/
.lightip .msg{}

/*topframe*/
#twrapper{background:url(topbg.gif) repeat-x left top;}
.dropbtn,.dropbtn_on{background:url(menuout.gif) no-repeat left top;}
.dropbtn_on{background-image:url(menuin.gif)}
#topnav li,#topnav li.on{color:#f5e4f8;}
#topnav li.on{color:#f5e4f8;}
#topsearch{background:url(search.gif) no-repeat left top;}
#statustip{color:#f5e4f8;}
/*leftframe*/
#fastmenu li.on{background:#f9546b;} 
#fastmenu .my{border-bottom:1px solid #f9546b;}
/*separator*/
.swbg1,.swbg2{background:#f9cfd5 url(separator1.gif) no-repeat center center}
.swbg2{background-image:url(separator2.gif)}

/*mainframe*/
.jqmWindow{background-color:#fff;border:1px solid #ccc;}
.jqmOverlay{background-color:#fff;}
.mbtitle{color:#333;background:#e21633;}
#msgtitle,#edittitle,#confirmtitle,.poptitle{color:#fff;}
.mbclose{color:#fff;}
.mbcontent,.mbcontent2,.mbcontent3{color:#333;background:#fff;}
.jqmbutton input{color:#0b0b0b;background:#f4f2f2;border:1px solid #ccc;}

.progressmsg{color:#333;}
.progressbarside {border:1px solid #d6374d;}
.progressbar{background-color:#f31b39;color:#fff;}
.probarpercent{color:#fff;}
