<?xml version="1.0"?>
<about xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>站易默认模板</name>
  <author>funnyzak</author>
  <createtime>2013-02-2</createtime>
  <copyright>Copyright 2012 Siteasy Inc.</copyright>
  <version>1.0</version>
</about>