.onShow
{
    background:url(../images/onShow.gif) no-repeat; 
    padding-left:25px; 
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onFocus
{
    background:transparent url(../images/onFocus.gif) no-repeat; 
    padding-left:25px; 
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onError
{
    background:transparent url(../images/onError.gif) no-repeat;
    padding-left:25px;
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onCorrect
{
    background:transparent url(../images/onCorrect.gif) no-repeat;
    padding-left:25px;
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onLoad
{
    background:#E9FFEB url(../images/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
margin-left:10px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 

.inputOnShow
{
	color: #999999
}

.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url(../images/tip.png) no-repeat;	color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px;margin-top:4px;}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595}
.onFocus{background-position:3px -147px;border-color:#40B3FF;}
.onError{background-position:3px -47px;border-color:#40B3FF; color:red}
.onCorrect{background-position:3px -247px;border-color:#40B3FF;}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}