            <div class="bbar w_235">
                <div class="tit"><a href="{Urls.Channel(chnid)}" class="cblue bold">热门软件</a></div>
            </div>
            <div class="bcont w_235" style="margin:0 0 6px 0;padding-bottom:6px;">
                 <div class="phtlist2">
                    <%load_data action=content type=channel id=chnid ctype=3 ext=soft num=7 fields=id,savepath,filename,color,property,title,img,ext_downcount,click order=3%>
                    <%loop item list%>
                    <%set (int){cid}=TypeParse.StrToInt({item[id]})%>
                    <%set (int){tid}=TypeParse.StrToInt({item[typeid]})%>
                    <%set (string){curl}=Urls.Content(cid,tid,{item[savepath]},{item[filename]})%>
                     <%set (string){img}= {item[img]}==""?(tempurl+ "/images/random/tb" + (new Random(Guid.NewGuid().GetHashCode())).Next(1,20)  + ".jpg"):{item[img]}%>
                    <%set (string){title}=TitleFormat({item[title]},{item[property]},(item["color"].ToString().Trim() == "000000"? defcolor: {item[color]}),30,"..")%>	
                    <div class="phtitem2 clearfix">
                        <div class="left"><a href="{curl}" title="{item[title]}"><img alt="{item[title]}" src="{img}" onerror="this.src='{tempurl}/images/pub/nopic.png'" width="58" height="50"/></a></div>
                        <div class="right">
                            <a href="{curl}" title="{item[title]}" class="cblue s13"><%getsubstring({item[title]},20,"..")%></a><br />
                            <span class="cgrey">下载:<label class="cdarkgrey">{item[ext_downcount]}</label></span>&nbsp;<span class="cgrey">浏览:<label class="cdarkgrey">{item[Click]}</label></span>
                        </div>
                    </div>
                    <%/loop%>  
                  </div>
            </div>
            <div class="bbar w_235">
                <div class="tit"><a href="{Urls.Channel(chnid)}" class="cblue bold">软件推荐</a></div>
            </div>
            <div class="bcont w_235" style="margin:0 0 6px 0;padding-bottom:6px;">
                <ul class="l235">
                    <%load_data action=content type=channel id=chnid num=9 fields=id,typeid,savepath,filename,color,property,title order=2 property=r%>
                    <%loop item list%>
                    <%set (int){cid}=TypeParse.StrToInt({item[id]})%>
                    <%set (int){tid}=TypeParse.StrToInt({item[typeid]})%>
                    <%set (string){curl}=Urls.Content(cid,tid,{item[savepath]},{item[filename]})%>
                    <%set (string){title}=TitleFormat({item[title]},{item[property]},(item["color"].ToString().Trim() == "000000"? defcolor: {item[color]}),30,"..")%>	
                    <li><a href="{curl}" tilte="{item[title]}">{title}</a></li>
                    <%/loop%>         
                </ul>
            </div>