<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码 - {webname}</title>
<meta name="description" content="{seodescription}"/>
<meta name="keywords" content="{seokeywords}"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link rel="shortcut icon" href="{siteurl}/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="{tempurl}/css/stacms.css" type="text/css" />
<script type="text/javascript" src="{siteurl}/sta/js/jquery.js"></script>
<script type="text/javascript" src="{siteurl}/sta/js/config.js"></script>
<script type="text/javascript" src="{siteurl}/sta/js/common.js"></script>
</head>
<body class="bg_grey">
<div class="wrapper">
    <div class="topheader_wrap">
        <div class="topheader">
            <div class="left">
                <div class="fav"><a href="javascript:;" onclick="AddFavourite('{webname}','{weburl}/')" class="cgrey">收藏{webname}</a></div>
            </div>
            <div class="right">
                <a href="#" class="cgrey">帮助</a>&nbsp;<a href="{siteurl}/login.aspx" class="cgrey">登录</a>&nbsp;<a href="{siteurl}/register.aspx" class="cgrey">注册</a>&nbsp;<a href="{siteurl}" class="cgrey">网站首页</a>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="logo"><a href="{siteurl}"><img src="{tempurl}/images/logo.png" /></a></div>
    </div>
	<div class="icont">
    	<div class="con_bar_1 con_bar_2">
        	<div class="tit left s14">找回密码,如忘记用户名请联系<a href="mailto:{config.Adminmail}" target="_blank" class="s14 cwhite">管理员({config.Adminmail})</a>找回！</div>
        </div>
        <div class="con_body">
        	<div class="lgn_box clearfix">
                <div class="lgn_left">
                    <div class="fwrongtip2 cred" style="display:none;">
                    </div>
                    <form action="" method="post">
                    <div class="row clearfix">
                        <div class="field left s14">用户名：</div>
                        <div class="input left">
                            <input type="text" class="greyipt" id="username" name="username" value="{request[username]}"/>
                        </div>
                    </div>
                    <div class="row clearfix" style="padding-bottom:0;">
                        <div class="field left s14">邮&nbsp;&nbsp;箱：</div>
                        <div class="input left">
                            <input type="text" class="greyipt" id="email" name="email" value="{request[email]}"/>
                        </div>
                    </div>
                    <div class="row clearfix" style="padding-bottom:10px;padding-top:27px;">
                        <div class="field left s14">验证码：</div>
                        <div class="input left" style="width:90px;">
                            <input type="text" class="greyipt" style="width:70px;" id="vcode" name="vcode"/>
                        </div>
                        <div class="vcode left">
                            <img src="sta/vcode/vcode.aspx?cookiename=forgetpassword&num=5&live=0" id="vimg" height="26" style="cursor:pointer;" />
                        </div>
                        <div class="changevcode left">
                        看不清,<a href="javascript:;" id="chgcode" class="cblue2 underline">换一张</a>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $("#vimg,#chgcode").click(function () { $("#vimg").attr("src", "../sta/vcode/vcode.aspx?cookiename=forgetpassword&num=5&live=0&date=" + new Date()); });
                    </script>
                    <div class="row2">
						<input type="button" id="btnlogin" name="btnlogin" class="btnlogin fogpwd" value="" onclick="SubForm()"/>
                    </div>
                    </form>
                </div>
                <div class="lgn_right">
                	<div><strong>还不本站用户？</strong><br />
                    本站的账号都没有？你也太落伍了赶紧去注册一个吧。</div>
                    <div class="reg">
                    	<input type="button" value="" class="reg" onclick="location.href='register.aspx';" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    	<div class="left">Copyright © 2009-2012 STAECMS. 中视网维 版权所有</div>
        <div class="right" id="time"></div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    window.onload = function () {
        setInterval("document.getElementById('time').innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());", 1000);
    };
    function Errtip(msg){
        $(".fwrongtip2").html(msg).css("display","block");
        setTimeout("$('.fwrongtip2').css('display','none')",3000);
    };
    function SubForm() { 
        var username = $("#username").val(), email = $("#email").val();
        if(username == '' || email== ''){
            Errtip("用户名或邮箱不能为空！");
        }else if($("#vcode").val() == ''){
            Errtip("请填写验证码！");
        }else{
            $("form").get(0).submit();
        }
    };
    <%if errors>0%>
    Errtip("{msgtext}");
    <%/if%>
</script>
</body>
</html>