<?xml version="1.0" standalone="yes"?>
<cachetableremove>
  <table1 xpath="STA/SET/" removedatetime="2013/4/15 20:13:26" />
  <table1 xpath="STA/USER/USERINFO/" removedatetime="2013/4/15 20:13:26" />
  <table1 xpath="STA/TEMPLATENAME/" removedatetime="2013/4/15 20:13:26" />
  <table1 xpath="STA/DATATABLE/" removedatetime="2013/4/16 9:34:48" />
  <table1 xpath="STA/URL/" removedatetime="2013/4/16 9:34:48" />
  <table1 xpath="STA/UIDATA/" removedatetime="2013/4/16 9:34:48" />
  <table1 xpath="STA/STRING/" removedatetime="2013/4/15 20:13:26" />
  <table1 xpath="STA/VARIABLE/custom_variables" removedatetime="2012/11/9 12:55:55" />
  <table1 xpath="STA/DATATABLE/allchannel" removedatetime="2013/4/15 20:14:31" />
  <table1 xpath="STA/VARIABLE/" removedatetime="2013/4/15 20:13:26" />
  <table1 xpath="STA/DATATABLE/contypelist" removedatetime="2013/1/19 18:06:23" />
</cachetableremove>