<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Smtp>smtp.exmail.qq.com</Smtp>
  <Nickname />
  <Port>25</Port>
  <Sysemail>no-replay@stacms.com</Sysemail>
  <Username>no-replay@stacms.com</Username>
  <Password>f77885212013</Password>
  <PluginNameSpace>STA.Plugin.Mail.SmtpMail</PluginNameSpace>
  <DllFileName>STA.Plugin.dll</DllFileName>
  <Subtitle>尊敬的{receiver}，{webname}邮件订阅成功</Subtitle>
  <Subcont>恭喜您！{webname}邮件订阅成功！
   
您将会定期收到我们为您精心准备的订阅邮件。
   
如您不希望再收到这些内容，可以&lt;a href="{unsubscribeurl}" target="_blank"&gt;点击这里&lt;/a&gt;退订邮件

{webname}</Subcont>
</EmailConfigInfo>