<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Webname>站易建站</Webname>
  <Webtitle>站易建站,让每个人轻松建站 - Powered By Stacms</Webtitle>
  <Extcode>&lt;script&gt;
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41372729-1', 'stacms.com');
  ga('send', 'pageview');

&lt;/script&gt;</Extcode>
  <Keywords>站易建站</Keywords>
  <Description>站易建站</Description>
  <Weburl />
  <Icp>京ICP备05067150号</Icp>
  <Adminmail>f@zak.hk</Adminmail>
  <Weblang>zh-CN</Weblang>
  <Opentran>0</Opentran>
  <Templatename>default</Templatename>
  <Withweburl>1</Withweburl>
  <Debug>1</Debug>
  <Rewritesuffix>.aspx</Rewritesuffix>
  <Templatesavedirname>tpl</Templatesavedirname>
  <Suffix>.html</Suffix>
  <Closed>0</Closed>
  <Closedreason>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml" id=""&gt;
&lt;head&gt;
    &lt;meta http-equiv="content-type" content="text/html;charset=utf-8" /&gt;
    &lt;title&gt;coming soon&lt;/title&gt;
    &lt;script type="text/javascript" src="/sta/js/jquery.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript" src="/sta/js/config.js"&gt;&lt;/script&gt;
    &lt;style type="text/css"&gt;
        html,body{margin: 0;padding: 0;text-align:center;}
        .coming-soon{width: 540px;height:360px;margin-left:-270px;margin-top:-190px;background:url(/sta/pics/coming-soon.png) no-repeat left top;cursor:pointer;position:absolute;left:50%;top:50%;}
    &lt;/style&gt;
    &lt;script type="text/javascript"&gt;
        $(function () {
            $(document).attr("title", "To Be Ready - " + webconfig.webname);
        });
    &lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="coming-soon" title="coming soon"&gt;&amp;nbsp;&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</Closedreason>
  <Htmlsavepath>/a</Htmlsavepath>
  <Adminlogs>1</Adminlogs>
  <Locationseparator>&gt;</Locationseparator>
  <Indexlinkname>首页</Indexlinkname>
  <Listinfocount>7</Listinfocount>
  <Domaincookie />
  <Dynamiced>2</Dynamiced>
  <Attachsoftmaxsize>10</Attachsoftmaxsize>
  <Attachsofttype>zip,rar,doc,xls,ppt,wps</Attachsofttype>
  <Attachmediamaxsize>10</Attachmediamaxsize>
  <Attachmediatype>rm,rmvb,mp3,flv,wav,mid,midi,ra,avi,mpg,mpeg,asf,asx,wma,mov</Attachmediatype>
  <Thumbsize>240,180</Thumbsize>
  <Attachbigfilepath>/z</Attachbigfilepath>
  <Attachimgmaxsize>1</Attachimgmaxsize>
  <Attachimgtype>gif,jpg,jpeg,bmp,png</Attachimgtype>
  <Attachnameway>2</Attachnameway>
  <Attachsaveway>2</Attachsaveway>
  <Attachsavepath>/files</Attachsavepath>
  <Waterquality>80</Waterquality>
  <Waterimg>/files/watermark/stacms.png</Waterimg>
  <Watertext>{3}</Watertext>
  <Waterfontname>华文中宋</Waterfontname>
  <Waterfontsize>15</Waterfontsize>
  <Waterlimitsize>300*300</Waterlimitsize>
  <Waterposition>0</Waterposition>
  <Wateropacity>100</Wateropacity>
  <Watertype>0</Watertype>
  <Opensearch>1</Opensearch>
  <Htmlcompress>0</Htmlcompress>
  <Opencomment>1</Opencomment>
  <Cacheinterval>1440</Cacheinterval>
  <Contentpage>1</Contentpage>
  <Searchinterval>3</Searchinterval>
  <Searchcachetime>2880</Searchcachetime>
  <Reflushinterval>2</Reflushinterval>
  <Updateclick>1</Updateclick>
  <Forbidswords>呵呵,我们,你们,他们</Forbidswords>
  <Vcodemods>1,3,4</Vcodemods>
  <Commentlogin>0</Commentlogin>
  <Commentfloor>20</Commentfloor>
  <Commentverify>0</Commentverify>
  <Commentinterval>10</Commentinterval>
  <Antispamreplacement>*&amp;^%$#</Antispamreplacement>
  <Commentlength>5000</Commentlength>
  <Openreg>1</Openreg>
  <Emailmultuser>0</Emailmultuser>
  <Forbiduserwords>admin,administrator</Forbiduserwords>
  <Userverifyway>2</Userverifyway>
  <Userverifyemailcontent />
  <Colautolink>0</Colautolink>
  <Colfilestorage>1</Colfilestorage>
  <Colclickrange>100,300</Colclickrange>
  <Colseorate>0</Colseorate>
  <Colseocontent />
  <Colseolinks />
  <Coltitrplopen>0</Coltitrplopen>
  <Coltitreplace />
  <Coltititpos>0</Coltititpos>
  <Coltitkeywords />
  <Sitemapconcount>100</Sitemapconcount>
  <Rssconcount>50</Rssconcount>
  <Ordernorule />
  <Invoicerate>7</Invoicerate>
  <Orderbackday>3</Orderbackday>
  <TranPluginNameSpace>STA.Plugin.Translator.GoogleTranslator</TranPluginNameSpace>
  <TranDllFileName>STA.Plugin.dll</TranDllFileName>
  <Ipdenyaccess />
  <Ipaccess />
  <Adminipaccess />
  <Thirducenter>0</Thirducenter>
</GeneralConfigInfo>