<?xml version="1.0"?>
<ScheduleConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <enabled>true</enabled>
  <events>
    <Event key="DeleteBackOrder" time_of_day="2" minutes="1" type="STA.Event.DeleteBackOrder, STA.Event" enabled="false" is_system_event="false" />
    <Event key="SitemapMakeEvent" time_of_day="10" minutes="1" type="STA.Event.SitemapMakeEvent, STA.Event" enabled="true" is_system_event="false" />
    <Event key="PublishUrlStaticEvent" time_of_day="30" minutes="1" type="STA.Event.PublishUrlStaticEvent, STA.Event" enabled="false" is_system_event="false" />
    <Event key="PublishRSSEvent" time_of_day="50" minutes="1" type="STA.Event.PublishRSSEvent,STA.Event" enabled="true" is_system_event="false" />
    <Event key="PublishSiteEvent" time_of_day="0" minutes="1" type="STA.Event.PublishSiteEvent, STA.Event" enabled="false" is_system_event="false" />
    <Event key="WebAutoCollectEvent" time_of_day="67" minutes="1" type="STA.Event.WebAutoCollectEvent, STA.Event" enabled="false" is_system_event="false" />
    <Event key="PublishRss2BaiduEvent" time_of_day="300" minutes="1" type="STA.Event.PublishRss2BaiduEvent, STA.Event" enabled="false" is_system_event="false" />
    <Event key="BackDBEvent" time_of_day="60" minutes="1" type="STA.Event.BackDBEvent, STA.Event" enabled="false" is_system_event="false" />
  </events>
  <minutes_interval>1</minutes_interval>
</ScheduleConfigInfo>