<?xml version="1.0" encoding="utf-8"?>
<tpl>
  <page>
    <item name="内容" inherits="STA.Page.Content" filename="content_*" />
    <item name="图集" inherits="STA.Page.Content" filename="photo_*" />
    <item name="软件" inherits="STA.Page.Content" filename="soft_*" />
    <item name="商品" inherits="STA.Page.Content" filename="product_*" />
    <item name="招聘" inherits="STA.Page.Content" filename="video_*" />
    <item name="专题" inherits="STA.Page.Content" filename="special_*" />
    <item name="分类信息" inherits="STA.Page.Content" filename="info_*" />
    <item name="单页" inherits="STA.Page.Page" filename="page_*" />
    <item name="频道封面" inherits="STA.Page.Channel" filename="channelindex_*" />
    <item name="频道列表" inherits="STA.Page.Channel" filename="channellist_*" />
    <item name="主页" inherits="STA.Page.Index" filename="index" />
    <item name="搜索" inherits="STA.Page.Search" filename="search" />
    <item name="标签" inherits="STA.Page.Tags" filename="tags" />
    <item name="附件" inherits="STA.Page.Attachment" filename="attachment" />
    <item name="评论" inherits="STA.Page.Comment" filename="comment" />
    <item name="专题内容组" inherits="STA.Page.SpecGroup" filename="specgroup_*" />
    <item name="购物车" inherits="STA.Page.Cart" filename="cart" />
    <item name="购物车第二步" inherits="STA.Page.Cartstep" filename="cartstep" />
    <item name="购物车付款" inherits="STA.Page.Cartpay" filename="cartpay" />
    <item name="用户注册" inherits="STA.Page.Register" filename="register" />
    <item name="用户登录" inherits="STA.Page.Login" filename="login" />
    <item name="忘记密码" inherits="STA.Page.ForgetPassword" filename="forgetpassword" />
    <item name="重置密码" inherits="STA.Page.ResetPassword" filename="resetpassword" />
    <item name="用户激活" inherits="STA.Page.Useractivation" filename="useractivation" />
    <item name="投票" inherits="STA.Page.VoteShow" filename="voteshow" />
    <item name="杂志浏览" inherits="STA.Page.Magview" filename="magview" />
    <item name="用户首页" inherits="STA.Page.UserIndex" filename="userindex" />
    <item name="用户信息" inherits="STA.Page.Userinfo" filename="userinfo" />
    <item name="oauth登录" inherits="STA.Page.OAuthLogin" filename="oauthlogin" />
    
    <!--中文-->
    <item name="内容" inherits="STA.Page.Content" filename="内容_*" />
    <item name="图集" inherits="STA.Page.Content" filename="图集_*" />
    <item name="软件" inherits="STA.Page.Content" filename="软件_*" />
    <item name="商品" inherits="STA.Page.Content" filename="商品_*" />
    <item name="招聘" inherits="STA.Page.Content" filename="招聘_*" />
    <item name="专题" inherits="STA.Page.Content" filename="专题_*" />
    <item name="分类信息" inherits="STA.Page.Content" filename="分类信息_*" />
    <item name="单页" inherits="STA.Page.Page" filename="单页_*" />
    <item name="频道封面" inherits="STA.Page.Channel" filename="频道封面_*" />
    <item name="频道列表" inherits="STA.Page.Channel" filename="频道列表_*" />
    <item name="主页" inherits="STA.Page.Index" filename="主页" />
    <item name="搜索" inherits="STA.Page.Search" filename="搜索" />
    <item name="评论" inherits="STA.Page.Comment" filename="评论" />
    <item name="专题内容组" inherits="STA.Page.SpecGroup" filename="专题内容组_*" />
    <item name="用户首页" inherits="STA.Page.UserIndex" filename="用户首页" />
    <item name="用户信息" inherits="STA.Page.UserInfo" filename="用户信息" />
    <item name="购物车" inherits="STA.Page.Cart" filename="购物车" />
    <item name="购物车第二步" inherits="STA.Page.Cartstep" filename="购物车第二步" />
    <item name="购物车付款" inherits="STA.Page.Cartpay" filename="购物车付款" />
    <item name="用户注册" inherits="STA.Page.Register" filename="用户注册" />
    <item name="用户登录" inherits="STA.Page.Login" filename="登录" />
    <item name="忘记密码" inherits="STA.Page.ForgetPassword" filename="忘记密码" />
    <item name="重置密码" inherits="STA.Page.ResetPassword" filename="重置密码" />
    <item name="用户激活" inherits="STA.Page.Useractivation" filename="用户激活" />
    <item name="投票" inherits="STA.Page.VoteShow" filename="投票" />
  </page>
</tpl>