<?xml version="1.0" encoding="utf-8" ?>
<urls>
  <rewrite name="content"
       path="/content-{0}-{1}.aspx"
       pattern = "/content-(\d+)(-(\d+))?.aspx"
       page="/content_default.aspx"
       querystring="id=$1^page=$3" />
  <rewrite name="channel"
     path="/channel-{0}-{1}.aspx"
     pattern = "/channel-(\d+)(-(\d+))?.aspx"
     page="/channellist_default.aspx"
     querystring="id=$1^page=$3" />
  <rewrite name="page"
     path="/page-{0}-{1}.aspx"
     pattern = "/page-(\d+)(-(\d+))?.aspx"
     page="/page_default.aspx"
     querystring="id=$1^page=$3" />
  <rewrite name="specgroup"
        path="/specgroup-{0}-{1}.aspx"
        pattern = "/specgroup-(\d+)(-(\d+))?.aspx"
        page="/specgroup_default.aspx"
        querystring="id=$1^group=$3" />
  <rewrite name="userinfo"
   path="/userinfo-{0}.aspx"
   pattern = "/userinfo-(\d+).aspx"
   page="/userinfo.aspx"
   querystring="id=$1" />
</urls>