<?xml version="1.0"?>
<VoteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Infofields>&lt;item name='realname' desc='真实姓名' isnull='必填'/&gt;
&lt;item name='idcard' desc='身份证号' isnull='必填'/&gt;</Infofields>
  <Infoinput>0</Infoinput>
  <Timeslot>01:00|23:59</Timeslot>
  <Timeinterval>1440</Timeinterval>
  <Phoneverify>0</Phoneverify>
  <Login>0</Login>
  <Vcode>0</Vcode>
  <Forbidips />
</VoteConfigInfo>